.contact-section {
    margin-top: 30px;
    text-align: center;
}

.contact-btn {
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid #4a5d7a;
    border-radius: 30px;
    text-decoration: none;
    color: #4a5d7a;
    font-weight: bold;
    transition: 0.3s ease;
}

.contact-btn:hover {
    background-color: #4a5d7a;
    color: white;
}

.social-icons {
    margin-top: 20px;
}

.social-icons img {
    width: 35px;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}