*{ 
   margin: 0;
   padding: 0;
} 
h1{
    color: rgb(23, 49, 121)
 }
 img{
    width: 80px;
 } 
 
.contact-section {
    margin-top: 30px;
    text-align: center;
}

.contact-btn {
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid #4a5d7a;
    border-radius: 30px;
    text-decoration: none;
    color: #4a5d7a;
    font-weight: bold;
    transition: 0.3s ease;
}

.contact-btn:hover {
    background-color: #4a5d7a;
    color: white;
}

.social-icons {
    margin-top: 20px;
}

.social-icons img {
    width: 80px;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

#sample{
    background-color: pink;
    border: 5px red solid;
}

.first{
  border-style: dotted;
  margin: 10px 15px;
  padding: 30px;  
}

/* My flexbox properties */
.container{
    background-color: gray;
}

.childContainer{
    background-color: skyblue;
    display: flex;
    /* flex-direction: row; */
   /* gap: 10px; */
    justify-content: space-between;
}